{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Post a reply{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'swehome:home' %}"> Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'swehome:event-list' %}">Events</a></li>
    <li class="breadcrumb-item"><a href="{% url 'swehome:event-detail' event.slug %}">{{ event.name }}</a></li>
    <li class="breadcrumb-item active">Post a Reply</li>
{% endblock %}

{% block content %}

    <form method="post" class="mb-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' with form=form %}
        <button type="submit" class="btn btn-success btn-block">Post a reply</button>
    </form>

{% endblock %}