{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'swehome:home' %}"> Home</a></li>
    <li class="breadcrumb-item active">My Blood Donation Post List</li>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for a in list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'blood_donation:post-detail' slug=a.slug %}"> {{ a.title }} </a></td>
                    <td>{{ a.update_at|naturaltime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}